@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color:  #121212;
    font-family: 'Roboto Condensed', sans-serif;
}

.container{
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #262e4c;
    border-radius: 10px;
}

.container header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 15px;
    background-color: #de3f53;
    color: white;
    font-size: 1.3em;
}

.wrapper-list ul.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper-list ul.list li {
    position: relative;
    background-color: #262e4c;
    border-bottom: 1px solid #1c2340;
    color: #b1b2c9;
    display: flex;
    align-items: center;
    padding: 20px;
    transition: background-color 300ms ease
}

.wrapper-list ul.list li:hover {
    background-color: #323b5c;
}

.wrapper-list ul.list li.removed {
    animation: collapseItem 300ms ease;

}
.wrapper-list ul.list li.hidden {
    display: none;
}

.wrapper-list ul.list li:hover button.remove{
    opacity: 1;
}

.wrapper-list ul.list .check {
    position: relative;
    background-color: #404a6e;
    border-radius: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: background-color 200ms ease;
}

.wrapper-list ul.list .check:hover,
.wrapper-list ul.list .done .check{
    background-color: #171d37;
}

.wrapper-list ul.list .done .check:after {
    position: absolute;
    top: 5px;
    left: 5px;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
}

.wrapper-list ul.list .done .task {
    text-decoration: line-through;
}

.wrapper-list button.remove {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    outline: none;
    background-color: red;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 300ms ease;
}
.wrapper-list button.remove:after {
    content: 'x';
    color: white;
    display: block;
}

.container footer {
    background-color: #171d37;
}

.container footer input {
    background-color: #171d37;
    outline: none;
    border: none;
    width: 90%;
    padding: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    color: white;
}

@keyframes collapseItem {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(-90deg);
    }
}